test.*
test
*.txt
__pycache__/
venv/
.env
*.log
*.png
logs
tmp
raw/*.csv

# General
spark-warehouse/
metastore_db/
airflow/logs/
airflow/*.db
airflow/airflow.cfg
kafka/data/
kafka/logs/
data/
warehouse/
bronze/
silver/
gold/
minio/data/
docker/**/data/
docker/**/logs/
docker/**/volumes/
docker/**/.env
trino/data/
